//////////////
//MIXINS
// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

//EXAMPLE FONT FACE IMPORT WITH TWO WEIGHTS
@font-face {
    font-family: "proxima nova";
    src: url("../static/fonts/proxima/fontsfree-net-proxima-nova-thin-webfont.woff") format("truetype");
    font-weight: thin;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "proxima nova";
    src: url("../static/fonts/proxima/fontsfree-net-proximanova-regular-webfont.woff") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

////////////////
// ARTICLES PAGE
.articleSlider {
    object-fit: cover;
    height: 600px;
    width: 100%;
    filter: brightness(0.5);
}
.scale-item {
    transform: scale(1);
    transition: transform 0.3s ease;
}
.scale-item:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}
// END ARTICLES PAGE
////////////////////
