//////////////
//MIXINS
// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

////////////////
// ARTICLES PAGE
.articleSlider {
  object-fit: cover;
  height: 600px;
  width: 100%;
  filter: brightness(0.5);
}

// END ARTICLES PAGE
////////////////////
