//////////////
//MIXINS
// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

//////////////////
//GERMINATION PAGE
.germinationCarouselImg {
  width: 551.11px;
  height: 310px;
  margin-top: 30px;
}
// END GERMINATION PAGE
///////////////////////
