/*******************************************/
/*This is the main stylesheet***/
/******************************************/

@tailwind preflight;
@tailwind utilities;

/****SCROLLBAR*****/

/******MIXINS*******/
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}


.body,
html {
  font-family: verdana;
  color: #252525;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background: white;
}

li {
  list-style: none;  
}

.preserv-3d {
  transform-style: preserve-3d;
}

.test2 {
  background: #ff0707;
  height: 90px;
  width: 100%;
  overflow-x: hidden;
  margin-left: -8px;
  margin-top: -53px;
  transform: translateZ(-1em) rotate(-3deg)
}

.example {
  background-color: red;
}

.absolute-center {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

.slow {
  transition: all 0.5s ease-in-out;
}



// HOME GENE PREVIEW
.auto {
  width: 33%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  background-image: url("../static/img/Red.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 5px solid #cc1f1a;
}
.fem {
  width: 33%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  background-image: url("../static/img/Purple.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 5px solid #cc1f1a;
}
.cbd {
  width: 33%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  background-image: url("../static/img/White.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 5px solid #cc1f1a;
}
.reg {
  width: 33%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  background-image: url("../static/img/green.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 5px solid #cc1f1a;
};