//////////////
//MIXINS
// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@media screen and (max-width: 767px) {
  ////////////
  // UNIVERSAL
  .cks-logo-header {
    top: -0.2rem;
    left: 0.3px;
    position: absolute;
  }
  .ray_box {
    /*HEADER ANIMATION */
    left: calc(3rem + 50px);
    top: 9s5px;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    -webkit-animation: ray_anim 300s linear infinite;
    animation: ray_anim 300s linear infinite;
    z-index: -5;
  }

  .react-autosuggest__input {
    width: calc(250px - 4rem);
    height: 2rem;
    padding: 1px 10px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: none;
    z-index: 55;
  }

  .searchBar {
    margin-left: 8%;
  }

  // END UNIVERSAL
  ////////////////

  ////////////////
  // AFFILIATES PAGE
  .affiliatesBanner {
    background-image: url("http://dcfgweqx7od72.cloudfront.net/banners/affiliatesHeader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    padding: 28px 0px 0 35px;
  }
  // END AFFILIATES PAGE
  ////////////////////

  ///////////////
  // ARTICLE PAGE
  .articleSlider {
    object-fit: cover;
    height: 300px;
    width: 100%;
    filter: brightness(0.5);
  }
  // END ARTICLE PAGE
  ///////////////////

  ////////////////
  // CHECKOUT PAGE
  // END CHECKOUT PAGE
  ////////////////////

  ///////////////////
  // GERMINATION PAGE
  .germinationCarouselImg {
    width: 284.44px;
    height: 160px;
    margin: 0;
    margin-left: 15px;
  }
  // END GERMINATION PAGE
  ///////////////////////

  ////////////
  // HOME PAGE
  .bannerBuyNow {
    position: absolute;
    padding: 0.5rem 1rem;
    width: 10rem;
    left: calc(50% - 5rem);
    bottom: 1rem;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 10px #0000004f;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  .genePreview {
    width: 100%;
    height: 60px;
    transition: all 0.5s ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    border-left: 0;
    border-right: 0;
    &:nth-of-type(2) {
      border-left: 0px solid white;
    }
    &:nth-of-type(3) {
      border-left: 0px solid white;
      border-right: 0px solid white;
    }
  }
  .headingClass {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease-in-out;
  }
  .packClass {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    margin: 48px 106px;
    width: 100px;
  }
  .screenClass {
    transform: translateX(0) rotate(0deg);
    -webkit-transform: translateX(0) rotate(0deg);
    -moz-transform: translateX(0) rotate(0deg);
    -ms-transform: translateX(0) rotate(0deg);
    -o-transform: translateX(0) rotate(0deg);
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }

  // END HOME PAGE
  ////////////////

  ////////////
  // SHOP PAGE

  .coming-soon-icon {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    background: #ffc90a;
    color: #000;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(1px 1px 2px rgba(115, 115, 115, 0.5));
    height: 55px;
    font-weight: bolder;
    width: 55px;
    font-size: 12px;
    margin-right: 55px;
    padding-top: 17px;
    text-align: center;
    z-index: 99999999999999999999999;
    vertical-align: middle;
  }

  .overlayClass {
    height: 100%;
    width: 100%;
    transition: 0.3s all ease-in-out;
    color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 0;
    overflow: visible;
    text-align: center;
    @include modifier("hover") {
      height: 555px;
      width: 276px;
      padding: 10px 10px;
      text-align: center;
      transform: translateX(-40px);
      -webkit-transform: translateX(-40px);
      -moz-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
      -o-transform: translateX(-40px);
      background-color: #fff;
      transition: 0.3s all ease-in-out;
      color: rgba(255, 255, 255, 1);
      position: relative;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
      border: 0.5px solid #cecece;
    }
  }
  .packageClass {
    height: 10rem;
    position: relative;
    z-index: 10;
    transition: 0.3s all ease-in-out;
    padding: 3.6rem 4rem 0.5rem 3rem;
    transform: translateX(-37px);
    -webkit-transform: translateX(-37px);
    -moz-transform: translateX(-37px);
    -ms-transform: translateX(-37px);
    -o-transform: translateX(-37px);
    cursor: pointer;
    @include modifier("hover") {
      height: 10rem;
      position: relative;
      transform: translateX(-30px) translateY(10px);
      -webkit-transform: translateX(-30px) translateY(10px);
      -moz-transform: translateX(-30px) translateY(10px);
      -ms-transform: translateX(-30px) translateY(10px);
      -o-transform: translateX(-30px) translateY(10px);
      z-index: 10;
      transition: 0.3s all ease-in-out;
      margin-top: 10px;
      padding: 3.6rem 4rem 0.5rem 3rem;
      cursor: pointer;
    }
  }
  .package-pins {
    transition: 0.3s all ease-in-out;
    right: 0;
    height: 2.7rem;
    @include modifier("hover") {
      transition: 0.3s all ease-in-out;
      right: 0;
      height: 2.7rem;
    }

    @include modifier("product") {
      transition: 0.2s all ease-in-out;
      height: 1rem;
    }
    @include modifier("productZoom") {
      transition: 0.2s all ease-in-out;
      height: 5rem;
      top: 120px;
      right: 3rem;
      position: absolute;
    }
  }
  .plantClass {
    // height: 100%;
    height: 8rem;
    position: absolute;
    z-index: 0;
    transform: translateX(-110px) translateY(-11px);
    -webkit-transform: translateX(-110px) translateY(-11px);
    -moz-transform: translateX(-110px) translateY(-11px);
    -ms-transform: translateX(-110px) translateY(-11px);
    -o-transform: translateX(-110px) translateY(-11px);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    @include modifier("hover") {
      // height: 100%;
      height: 9.5rem;
      position: absolute;
      z-index: 0;
      transition: 0.3s all ease-in-out;
      transform: translateX(-50px) translateY(38px);
      -webkit-transform: translateX(-50px) translateY(38px);
      -moz-transform: translateX(-50px) translateY(38px);
      -ms-transform: translateX(-50px) translateY(38px);
      -o-transform: translateX(-50px) translateY(38px);
      cursor: pointer;
    }
  }
  .strainTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: -43px;
    width: 93%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition: 0.3s all ease-in-out;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    box-shadow: rgba(60, 58, 58, 0.45) 0px 2px 6px;
    @include modifier("hover") {
      transition: 0.3s all ease-in-out;
      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
    }
  }
  .strainTitleHover {
    margin-left: 7px;
    margin-right: auto;
    margin-top: -40px;
    height: 40px;
    width: 240px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    text-shadow: black 1px 1px 2px;
    box-shadow: rgba(60, 58, 58, 0.45) 0px 2px 6px;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
  }

  ////////////////////////
  // NO ANIMATION SHOP

  .packageClassNoAnimation {
    height: 10rem;
    width: 250px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
    transform: translateX(-30px) translateZ(0);
    -webkit-transform: translateX(-30px) translateZ(0);
    -moz-transform: translateX(-30px) translateZ(0);
    -ms-transform: translateX(-30px) translateZ(0);
    -o-transform: translateX(-30px) translateZ(0);
    padding: 5.5rem 4rem 0.5rem 4rem;
    text-align: right;
  }

  .plantClassNoAnimation {
    height: 8rem;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translateX(-40px) translateY(36px) translateZ(0);
    -webkit-transform: translateX(-40px) translateY(36px) translateZ(0);
    -moz-transform: translateX(-40px) translateY(36px) translateZ(0);
    -ms-transform: translateX(-40px) translateY(36px) translateZ(0);
    -o-transform: translateX(-40px) translateY(36px) translateZ(0);
  }

  .overlayClassNoAnimation {
    height: 510px;
    // width: 80%;
    max-width: 70%;
    min-width: 190px;
    color: rgba(255, 255, 255, 0);
    position: relative;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(68, 66, 66, 0.25);
  }

  // END SHOP PAGE
  ////////////////

  ///////////////////
  // VIEWPRODUCT PAGE
  .imgCarousel {
    height: 325px;
    width: auto;
  }

  .packagePinBig {
    height: 5rem;
    position: absolute;
    right: -25px;
    top: 140px;
    pointer-events: none;
  }
  // END VIEWPRODUCT PAGE
  ///////////////////////

  // 404 PAGE
  .eyes {
    position: absolute;
    top: 275px;
    left: 44%;
    width: 245px;
    height: 80px;
    transform: translate(-200px, -38px);
    -moz-transform: translate(-200px, -40px);
    -ms-transform: translate(-200px, -40px);
    -o-transform: translate(-200px, -40px);
    transform: translate(-200px, -40px);
  }

  .eye {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 0;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    background-color: #fdfdf3;
    overflow: hidden;
    border: solid #000 10px;
    box-shadow: 0px 10px 0px 10px rgba(0, 0, 0, 0.2) inset;
  }

  #eye1 {
    left: 81px;
    transform: rotate(-10deg) scale(0.6);
    top: 34px;
  }

  #eye2 {
    left: 160px;
    transform: rotate(-6deg) scale(0.6);
    top: 7px;
  }

  .iris {
    position: absolute;
    width: 35px;
    height: 37px;
    border: 7px solid green;
    background-color: #000;
    border-radius: 50%;
    top: 40px;
    left: 48px;
    transform: translate(-50px, -35px);
    -webkit-transform: translate(-50px, -35px);
    -moz-transform: translate(-50px, -35px);
    -ms-transform: translate(-50px, -35px);
    -o-transform: translate(-50px, -35px);
  }
  // END 404 PAGE
  //////////////////////////

  .dailyMessage {
    text-align: center;
    transform: translateY(0rem);
    height: 5rem;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    opacity: 0;
    z-index: 11;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 505px;
    padding: 0.5rem;
    padding-top: 1rem;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(45, 45, 45, 0.69);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background: #cc515b;
    color: #fff;
    left: calc(((100vw - 505px) / 2) - 0.5rem);
    @include modifier("view") {
      transform: translateY(8rem);
      opacity: 1;
    }
  }
}
