//////////////
//MIXINS
// Block Element
// @access public
// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}
// Block Modifier
// @access public
// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@media only screen and (max-width: 1367px) {
  ////////////
  // UNIVERSAL
  .ray_box {
    /*HEADER ANIMATION */
    left: calc((100vw - 900px) / 2 + 90px);
    position: absolute;
    top: 90px;
    bottom: 0;
    width: 30px;
    height: 30px;
    -webkit-animation: ray_anim 300s linear infinite;
    animation: ray_anim 300s linear infinite;
    z-index: -5;
  }

  .react-autosuggest__input {
    width: calc(225px - 3rem);
    height: 2rem;
    padding: 1px 10px;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
    border: none;
    z-index: 55;
  }

  .searchBar {
    margin-left: 20%;
  }

  // END UNIVERSAL
  ////////////////

  ////////////////
  // AFFILIATES PAGE
  .affiliatesBanner {
    background-image: url("https://dcfgweqx7od72.cloudfront.net/banners/affiliatesHeader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    padding: 100px 50px 0 50px;
  }
  // END AFFILIATES PAGE
  ////////////////////

  ///////////////
  // ARTICLE PAGE
  .articleSlider {
    object-fit: cover;
    height: 400px;
    width: 100%;
    filter: brightness(0.5);
  }

  .imgFeatureNews {
    width: 100%;
    height: 600px;
    overflow: hidden;
    object-fit: contain;
    object-position: center center;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 10px;
  }
  // END ARTICLE PAGE
  ///////////////////

  ////////////////
  // CHECKOUT PAGE
  // END CHECKOUT PAGE
  ////////////////////

  ///////////////////
  // GERMINATION PAGE
  .germinationCarouselImg {
    width: 371px;
    height: 208.69px;
    margin: 30px 300px 0px 300px;
  }
  // END GERMINATION PAGE
  ///////////////////////
  ////////////
  // HOME PAGE
  .bannerBuyNow {
    position: absolute;
    padding: 0.5rem 2rem;
    width: 14rem;
    left: calc(50% - 7rem);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 10px #0000004f;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 25px;
    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  .genePreview {
    width: 25%;
    height: 350px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    background-position: center;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    &:nth-of-type(2) {
      border-left: 5px solid white;
    }
    &:nth-of-type(3) {
      border-left: 5px solid white;
      border-right: 5px solid white;
    }
  }

  .headingClass {
    transform: translateX(17px);
    -webkit-transform: translateX(17px);
    -moz-transform: translateX(17px);
    -ms-transform: translateX(17px);
    -o-transform: translateX(17px);
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease-in-out;
  }
  .packClass {
    transform: rotate(90deg);
    margin: 97px 100px;
    width: 155px;
  }
  .screenClass {
    transform: translateX(-300px) rotate(-90deg);
    -webkit-transform: translateX(-300px) rotate(-90deg);
    -moz-transform: translateX(-300px) rotate(-90deg);
    -ms-transform: translateX(-300px) rotate(-90deg);
    -o-transform: translateX(-300px) rotate(-90deg);
    transition: all 0.5s ease-in-out;
    width: 22.5rem;
    height: 100%;
  }

  // END HOME PAGE
  ////////////////

  ////////////
  // SHOP PAGE
  .overlayClass {
    height: 100%;
    width: 100%;
    transition: 0.3s all ease;
    color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 99999999999999;
    overflow: visible;
    text-align: center;
    @include modifier("hover") {
      text-align: center;
      transform: translateX(-60px) translateZ(0);
      -webkit-transform: translateX(-60px) translateZ(0);
      -moz-transform: translateX(-60px) translateZ(0);
      -ms-transform: translateX(-60px) translateZ(0);
      -o-transform: translateX(-60px) translateZ(0);
      height: 595px;
      overflow: hidden;
      width: 125%;
      background-color: #fff;
      transition: 0.3s all ease;
      color: rgba(255, 255, 255, 1);
      position: absolute;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
      border: 0.5px solid #cecece;
      z-index: 99999999999999;
    }
  }
  .packageClass {
    height: 14rem;
    width: 240px;
    position: relative;
    transform: translateX(0) translateZ(0);
    -webkit-transform: translateX(0) translateZ(0);
    -moz-transform: translateX(0) translateZ(0);
    -ms-transform: translateX(0) translateZ(0);
    -o-transform: translateX(0) translateZ(0);
    z-index: 10;
    transition: 0.3s all ease;
    padding: 5.5rem 3rem 0.5rem 3rem;
    text-align: right;
    @include modifier("hover") {
      height: 14rem;
      width: 240px;
      position: relative;
      transform: translateX(-10px) translateZ(0);
      -webkit-transform: translateX(-10px) translateZ(0);
      -moz-transform: translateX(-10px) translateZ(0);
      -ms-transform: translateX(-10px) translateZ(0);
      -o-transform: translateX(-10px) translateZ(0);
      z-index: 10;
      transition: 0.3s all ease;
      padding: 5.5rem 3rem 0.5rem 3rem;
      text-align: right;
    }
  }
  .package-pins {
    transition: 0.3s all ease;
    right: 0;
    height: 3.5rem;
    @include modifier("hover") {
      transition: 0.3s all ease;
      right: 0;
      height: 3.5rem;
    }

    @include modifier("product") {
      transition: 0.2s all ease;
      height: 1rem;
    }
    @include modifier("productZoom") {
      transition: 0.2s all ease;
      height: 7rem;
      top: 170px;
      right: 5rem;
      position: absolute;
    }
  }
  .plantClass {
    height: 12rem;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translateX(-134px) translateY(32px) translateZ(0);
    -webkit-transform: translateX(-134px) translateY(32px) translateZ(0);
    -moz-transform: translateX(-134px) translateY(32px) translateZ(0);
    -ms-transform: translateX(-134px) translateY(32px) translateZ(0);
    -o-transform: translateX(-134px) translateY(32px) translateZ(0);
    transition: 0.5s all ease;
    @include modifier("hover") {
      height: 12rem;
      position: absolute;
      top: 0;
      z-index: 0;
      transition: 0.5s all ease;
      transform: translateX(-70px) translateY(42px) translateZ(0);
      -webkit-transform: translateX(-70px) translateY(42px) translateZ(0);
      -moz-transform: translateX(-70px) translateY(42px) translateZ(0);
      -ms-transform: translateX(-70px) translateY(42px) translateZ(0);
      -o-transform: translateX(-70px) translateY(42px) translateZ(0);
    }
  }
  .strainTitle {
    margin-left: auto;
    margin-right: auto;
    margin-top: -43px;
    width: 93%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;
    box-shadow: rgba(60, 58, 58, 0.45) 0px 2px 6px;
    transition: 0.3s all ease;
    @include modifier("hover") {
      transition: 0.3s all ease;
      &:hover {
        transform: scale(1.1) translateZ(0);
        -webkit-transform: scale(1.1) translateZ(0);
        -moz-transform: scale(1.1) translateZ(0);
        -ms-transform: scale(1.1) translateZ(0);
        -o-transform: scale(1.1) translateZ(0);
      }
    }
  }

  ////////////////////////
  // NO ANIMATION SHOP

  .packageClassNoAnimation {
    height: 14rem;
    width: 260px;
    margin-top: 20px;
    position: relative;
    z-index: 10;
    padding: 5.5rem 3rem 0.5rem 3rem;
    text-align: right;
  }

  .plantClassNoAnimation {
    height: 11rem;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: translateX(-31px) translateY(45px) translateZ(0);
    -webkit-transform: translateX(-31px) translateY(45px) translateZ(0);
    -moz-transform: translateX(-31px) translateY(45px) translateZ(0);
    -ms-transform: translateX(-31px) translateY(45px) translateZ(0);
    -o-transform: translateX(-31px) translateY(45px) translateZ(0);
  }

  .overlayClassNoAnimation {
    height: 510px;
    width: 265px;
    color: rgba(255, 255, 255, 0);
    position: relative;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(68, 66, 66, 0.25);
  }

  // END SHOP PAGE
  ////////////////

  ///////////////////
  // VIEWPRODUCT PAGE
  .imgCarousel {
    height: 340px;
    width: auto;
  }
  .package-pins {
    @include modifier("product") {
      transition: 0.2s all ease-in-out;
      height: 1rem;
    }
    @include modifier("productZoom") {
      transition: 0.2s all ease-in-out;
      height: 6.5rem;
      top: 130px;
      right: 1.5rem;
      position: absolute;
    }
  }
  .packagePinBig {
    height: 5rem;
    position: absolute;
    right: -25px;
    top: 130px;
    pointer-events: none;
  }
  // END VIEWPRODUCT PAGE
  ///////////////////////

  // 404 PAGE
  .eyes {
    position: absolute;
    top: 260px;
    left: 68%;
    width: 223px;
    height: 80px;
    transform: translate(-200px, -38px);
    -moz-transform: translate(-200px, -40px);
    -ms-transform: translate(-200px, -40px);
    -o-transform: translate(-200px, -40px);
    transform: translate(-200px, -40px);
  }

  .eye {
    position: absolute;
    width: 120px;
    height: 80px;
    top: 0;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    background-color: #fdfdf3;
    overflow: hidden;
    border: solid #000 10px;
    box-shadow: 0px 10px 0px 10px rgba(0, 0, 0, 0.2) inset;
  }

  #eye1 {
    left: 72px;
    transform: rotate(-10deg) scale(0.8);
    top: 45px;
  }

  #eye2 {
    left: 155px;
    transform: rotate(-6deg) scale(0.9);
    top: 27px;
  }

  .iris {
    position: absolute;
    width: 35px;
    height: 37px;
    border: 7px solid green;
    background-color: #000;
    border-radius: 50%;
    top: 40px;
    left: 48px;
    transform: translate(-50px, -35px);
    -webkit-transform: translate(-50px, -35px);
    -moz-transform: translate(-50px, -35px);
    -ms-transform: translate(-50px, -35px);
    -o-transform: translate(-50px, -35px);
  }

  // END 404 PAGE
  //////////////////////////

  .dailyMessage {
    text-align: center;
    font-size: 1.2rem;
    transform: translateY(0rem);
    height: 5rem;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    opacity: 0;
    z-index: 11;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    text-shadow: 0 2px 3px rgba(45, 45, 45, 0.69);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 900px;
    padding: 0.5rem;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background: #cc515b;
    color: #fff;
    left: calc(((100vw - 900px) / 2) - 0.5rem);
    @include modifier("view") {
      transform: translateY(8rem);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1251px) {
  ////////////
  // UNIVERSAL
  .ray_box {
    /*HEADER ANIMATION */
    left: calc(20%);
    position: absolute;
    top: 90px;
    bottom: 0;
    width: 30px;
    height: 30px;
    -webkit-animation: ray_anim 300s linear infinite;
    animation: ray_anim 300s linear infinite;
    z-index: -5;
  }
}

@media only screen and (max-width: 1200px) {
  ////////////
  // UNIVERSAL
  .ray_box {
    /*HEADER ANIMATION */
    left: calc(18%);
    position: absolute;
    top: 90px;
    bottom: 0;
    width: 30px;
    height: 30px;
    -webkit-animation: ray_anim 300s linear infinite;
    animation: ray_anim 300s linear infinite;
    z-index: -5;
  }
}
@media only screen and (max-width: 1100px) {
  ////////////
  // UNIVERSAL
  .ray_box {
    /*HEADER ANIMATION */
    left: calc(17%);
    position: absolute;
    top: 90px;
    bottom: 0;
    width: 30px;
    height: 30px;
    -webkit-animation: ray_anim 300s linear infinite;
    animation: ray_anim 300s linear infinite;
    z-index: -5;
  }
}
@media only screen and (max-width: 1025px) {
  ////////////
  // UNIVERSAL
  .ray_box {
    /*HEADER ANIMATION */
    left: calc(15%);
    position: absolute;
    top: 90px;
    bottom: 0;
    width: 30px;
    height: 30px;
    -webkit-animation: ray_anim 300s linear infinite;
    animation: ray_anim 300s linear infinite;
    z-index: -5;
  }
}
